Options -Indexes
RewriteEngine On
# Descartamos archivos existentes del resto de reglas
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
# Si es una URL de angular o una ruta perdida redirigimos al archivo index.html
RewriteCond %{REQUEST_URI} ^/web/.* [OR]
RewriteCond %{REQUEST_URI} ^/[^/]*$
RewriteRule ^ /web/index.html [QSA,L]
# Si es una URL de PHP redirigimos al archivo app.php
RewriteCond %{REQUEST_URI} ^/api/.*
RewriteRule ^ /api/app.php [QSA,L]

